body {
  background-color: #5b5d60;
}
h1 {
  color:#c4c9d1;
  text-shadow: 0 0 3px #f41387;
  font-family: 'Shadows Into Light', cursive;
  margin: auto;
}
button {
  color:#e8e1e1;
  border-width: 2px;
  border-color: #1c1a1a;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color:#ef4564;
}
#loaderButtons {
  border-color: #2bf22b;
  background-color: #222622;
  color: #2bf22b;
}
#buttons {

  display:flex;
  flex-direction:row;
}

.kicks,.highhats,.snares,.claps,.percs,.playerSearch  {
  display:flex;
  flex-direction: column-reverse;
}
