body {

  background-color: #2a333d;
  align-content: center;

}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color:#c4c9d1;
  text-shadow: 0 0 3px #f41387;
  font-family: 'Righteous', cursive;

}


#playerClapButtons,
#highHatButtons,
#kickButtons,
#snareButtons,
#percButtons,
#Buttons {
  color: #dce6f2;
  border-width: 2px;
  border-color: #edd3b4;
  width: 55px;
  height: 50px;
  border-radius: 7px;
  background-color:#ef007f;
}
#Buttons:active {
  background-color: #45ef53;
}
#MiscLoader{
  width:55px;
  height:24px;
  font-size: 10px;
}
#tracker  {

  width:20px;
  height:30px;
  border-radius: 20%;
  margin-right: 10px;
  margin-bottom: 20px;

}

#KickLoader, #HighHatLoader, #SnareLoader, #ClapLoader, #PercLoader, #MiscLoader, button.load-button, button.load-button:hover, button.load-button:active {
  border-color: #2bf22b;
  background-color: #222622;
  background-image: none;
  color: #2bf22b;
  border-width: 2px;
  border-radius: 8px !important;
}

#buttons {
  display:flex;
  flex-direction:row;
  justify-content: center;


}

.kicks,.highhats,.snares,.claps,.percs,.playerSearch  {
  display:flex;
  flex-direction: column-reverse;

}
